[submodule "rareCare-gateway"]
	path = rareCare-gateway
	url = https://github.com/MohammedBentalb/rareCare-gateway
[submodule "Patient-service"]
	path = Patient-service
	url = https://github.com/moussaoui914/Patient-service.git
[submodule "maladies-service"]
	path = maladies-service
	url = https://github.com/XProjectLabs/maladies-service.git
[submodule "dossiermedicaux-service"]
	path = dossiermedicaux-service
	url = https://github.com/ouslimaneabdelilah/dossiermedicaux-service.git
